body{
    margin:0px;
    padding:0;
    font-family: 'Poppins', sans-serif;
/*background-color: #081b29;*/
}

.hom h1{
    margin:0px;
    padding:30px;
    color:blue;
    font-size: 50px;
    background-color: aqua;
}
.hom a{
    text-decoration: none;
}
.container {
    text-align: center;
    padding:160px 0px 200px 0px ;
   /*background-color: rgb(131, 32, 32);*/
}

/* Name Styling */
.name {
    font-size: 60px;
    font-family:Georgia, "Times New Roman", Times, serif;
    margin-bottom: 80px;
}

/* Link Section Styling */
.link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

/* links alignment colum*/
.pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pics img {
    width: 100px;
    height: 100px;
}

.pics a {
    text-decoration: none;
    font-size: 30px;
    transition: color 0.3s ease;
    color: rgb(48, 36, 213);
}

.pics a:hover {
    color: rgb(165, 42, 52);
}



/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .hom h1{
        margin:0px;
        padding:15px;
        color:blue;
        font-size: 25px;
        background-color: aqua;
    }
    .container{
        padding:50px 0px 50px 0px;
    }
    .name{
    font-size: 30px;
}

.pics img {
    width: 50px;
    height: 50px;
}

.pics a {
    font-size: 18px;
}

}

@media (max-width: 480px) {
    .hom h1{
        margin:0px;
        padding:15px;
        color:blue;
        font-size: 25px;
        background-color: aqua;
    }
    .container{
        padding:50px 0px 50px 0px;
    }

    .name {
        font-size: 30px;
    }

    .pics img {
        width: 50px;
        height: 50px;
    }

    .pics a {
        font-size: 18px;
    }
}

